*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display:grid;
    grid-template-rows: repeat(12, 75px);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100vh;
    background-color: #F3F4F6;
}
.main{
    grid-area: 2 / 1 / 11 / 4;
    
}
.nav{
    grid-area: 1 / 1 / 1 / 4;
    background-color: white;
}
.footer{
    display: flex;
    border-top: 1px solid lightgray;
    grid-area: 11 / 1 / 14 / 4;
}
.image{
    display: flex;
    padding: 25px 80px;
}
.login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup{
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
h2{
    text-align: left;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
legend{
    padding: 20px 0;
    font-family:Arial, Helvetica, sans-serif;
}
.signup_legend{
    padding: 6px;
}
.field{
    
    padding: 10px;
}
.field input{
    background-color: #E5E7EB;
    border: 1px solid #D3D5D8;
    border-radius: 5px;
    padding: 15px 120px;
}

.button-group{
    width: 100%;
    text-align: right;
}
.button-group button:nth-child(1){
    background-color: white;
    border: 0;
    font-size: 18px;
}
.button-group button:nth-child(1){
    color: black;
    padding: 13px 30px;
    border: 0;
    border-radius: 8px;
}
.button-group button:nth-child(2){
    background-color: #E96499;
    color: white;
    padding: 13px 30px;
    border: 0;
    border-radius: 8px;
}
.button-group button{
    padding: 8px 25px;
}
.optional{
    width: 100%;
    justify-content: center;
    display: flex;
    height: 10%;
}
.opt{
    padding: 20px 90px;
}
.optional > a{
    text-decoration: none;
    padding: 20px  65px;
    color:gray;
}
#login{
    background-color: #E96499;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 15px 180px;
    font-size: 16px;
}
#signup{
    margin-top: 20px;
    background-color: #E96499;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 15px 180px;
    font-size: 16px;
}
#create{
    margin-top: 20px;
    text-decoration: none   ;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
#create:hover{
    color: blue;
    
}
.footer nav{
    margin: 20px;
    padding: 50px;
}
.footer nav a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: gray;
    margin: 6px;
}
.footer .copy{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin: 10px 70px;
    padding: 50px;
    width: 60%;
    text-align: right;
}